# NOTE : For ACE to not to use ARA/ARF we need to set following system property (Only in debug mode)
on property:ro.build.type=userdebug
    setprop service.seek fullaccess

service vendor.secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service.google
    class hal
    user jc_strongbox
